<div class="card">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-2xl font-semibold">Product Choices Control</h2>
    </div>
    
      <p-button
[routerLink]="'/dashboard/menu/products/add-choice/' + productId  "
        label="Add Choice"
        icon="pi pi-plus"
        class="btn-main text-white"></p-button>
  
    <!-- Search Input -->
    <div class="mb-3 flex justify-content-end">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          #search
          class="mb-0"
          type="text"
          pInputText
          placeholder="Search choices..."
          (input)="onGlobalFilter(dt, $event)" />
      </span>
    </div>
  
    <p-table
      #dt
      [paginator]="true"
      [rows]="rowsPerPage"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="getPagination()"
      [showCurrentPageReport]="true"
      [value]="filteredChoices"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" pSortableColumn="en_name">
            Name (EN) <p-sortIcon field="en_name"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="ar_name">
            Name (AR) <p-sortIcon field="ar_name"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="cuurent_value">
            Value <p-sortIcon field="cuurent_value"></p-sortIcon>
          </th>
          <th class="text-center">
            <p-dropdown
              #Dd
              class="mx-auto"
              styleClass="mx-auto"
              [options]="selectOptions"
              optionLabel="label"
              optionValue="value"
              (onChange)="onFilterChange($event.value); Dd.showClear = true"
              placeholder="Status"
              [showClear]="false"
              [autoZIndex]="true"></p-dropdown>
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-choice>
        <tr>
          <td class="text-center">{{ choice.en_name }}</td>
          <td class="text-center">{{ choice.ar_name }}</td>
          <td class="text-center">{{ choice.cuurent_value }}</td>
          <td class="text-center">
            <p-inputSwitch
              [ngModel]="choice.active_status === 1"
              (onChange)="toggleChoiceStatus(choice)"
              [disabled]="isToggling[choice.id]"></p-inputSwitch>
          </td>
          <td class="text-center">
            <p-button
              icon="pi pi-pencil"
              (onClick)="editChoice(choice.id,choice)"
              class="p-button-text"></p-button>
          </td>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            <div>
              <div class="h-48 flex justify-center items-center flex-col">
                <app-no-data-found-banner></app-no-data-found-banner>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <p-toast></p-toast>


<!-- 
  <ngx-spinner
  name="actionsLoader"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-spin"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
> -->
