<p-toast></p-toast>

@if (!isLoading) {
  <div class="card">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-2xl font-semibold">Sliders Control</h2>
      <p-button
        routerLink="/dashboard/menu/sliders/add"
        label="Add Slider"
        icon="pi pi-plus"
        class="btn-main text-white"></p-button>
    </div>

    <!-- Search Input -->
    <div class="mb-3 flex justify-content-end">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          #search
          class="mb-0"
          type="text"
          pInputText
          placeholder="Search sliders..."
          (input)="onGlobalFilter(dt, $event)" />
      </span>
    </div>

    <p-table
      #dt
      [paginator]="true"
      [rows]="rowsPerPage"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="getPagination()"
      [showCurrentPageReport]="true"
      [value]="filteredSliders"
      responsiveLayout="scroll"
      (onSort)="onSort($event)"
      (onPage)="onPageChange($event)">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th class="text-center">Image</th>
          <th class="text-center" pSortableColumn="en_title">English Title<p-sortIcon field="en_title"></p-sortIcon></th>
          <th class="text-center" pSortableColumn="created_at">Created<p-sortIcon field="created_at"></p-sortIcon></th>
          <th class="text-center">
            <p-dropdown
              #Dd
              class="mx-auto"
              styleClass="mx-auto"
              [options]="selectOptions"
              optionLabel="label"
              optionValue="value"
              (onChange)="onFilterChange($event.value); Dd.showClear = true"
              placeholder="Status"
              [showClear]="true"
              [autoZIndex]="true"></p-dropdown>
          </th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-slider>
        <tr>
          <td class="text-center">{{ slider.id }}</td>
          <td class="text-center">
            <div class="w-16 h-16">
                  <img
                   class="w-full h-full object-cover"
                    [src]="getImageUrl(slider.image)"
                    [alt]="slider.en_title"
                    appImageLoader
                    />
            </div>
          </td>
          <td class="text-center">
            <span [title]="slider.en_title">
              {{ truncateText(slider.en_title, 30) }}
            </span>
          </td>
        
         
          <td class="text-center">{{ formatDate(slider.created_at) }}</td>
          <td class="text-center">
            <p-inputSwitch
              [ngModel]="slider.active_status === 1"
              (onChange)="toggleSliderStatus(slider)"></p-inputSwitch>
          </td>
          <td class="text-center">
            <div class="flex justify-center gap-2">
              <a [routerLink]="['/dashboard/menu/sliders/edit', slider.id]">
              <p-button
                icon="pi pi-pencil"
                (onClick)="runSpinner()"
                class="p-button-text p-button-sm"
                pTooltip="Edit Slider"></p-button>
              </a>
              <a [routerLink]="['/dashboard/menu/sliders/view', slider.id]">
              <p-button
              icon="pi pi-eye"
              (onClick)="runSpinner()"
              class="p-button-text p-button-sm"
              pTooltip="View Slider"></p-button>
            </a>
              
         
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
} @else {
  <app-loading-data-banner></app-loading-data-banner>
}
