<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
<ngx-spinner
  name="actionsLoader"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-spin"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

@if (isLoading) {
<app-loading-data-banner></app-loading-data-banner>
} @else if (data) {
<div class="card" [class.loading]="isLoading">
  <div class="card-header">
    <h2 class="card-title">{{ title }} Details</h2>
  </div>

  <div class="detail-section">
    @for (col of columns; track col.field) {
    <div class="detail-row" [class.flex]="col.type === 'boolean'">
      <div class="detail-label">{{ col.header }}</div>
      <div class="detail-value">
        @if (col.type === 'image') {
        <div class="image-container">
          <img
            [src]="getImageUrl(data[col.field])"
            [alt]="col.header"
            class="category-image"
            [class.loaded]="imageLoaded"
            (load)="onImageLoad()"
          />
          @if (!imageLoaded) {
          <div class="image-placeholder"></div>
          }
        </div>
        } @else if (col.type === 'link') {
        <a [href]="data[col.field]" target="_blank" class="link">
          {{ data[col.field] }}
        </a>
        } @else { @if(col.type === 'boolean'){
        <span
          [ngClass]="{
            'text-green-600 font-semibold': data[col.field],
            'text-red-500 italic': !data[col.field]
          }"
        >
          {{ data[col.field] ? "Active" : "Not Active" }}
        </span>
        }@else{
        {{ formatValue(data, col) }}
        } }
      </div>
    </div>
    }
  </div>

  <div class="action-buttons">
    <a href="{{ backRoute }}">
      <p-button label="Back" styleClass="p-button-text"></p-button>
    </a>
    @if (editRoute) {
    <a href="{{ editRoute }}">
      <p-button label="Edit" styleClass="p-button-outlined"></p-button>
    </a>
    }
  </div>
</div>
} @else {
<div class="no-data-card">
  <div class="no-data-message">
    <i class="pi pi-exclamation-circle"></i>
    <p>No {{ title.toLowerCase() }} data found</p>
  </div>
  <div class="action-buttons">
    <p-button label="Back to {{ title }}" styleClass="p-button-text"></p-button>
  </div>
</div>
}
