@import "variables";

// background color
.bg-main {
  background-color: $main-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.border-color-main {
  border-color: $main-color !important;
}

.bg-third {
  background-color: $third-color;
}

.box-shadow {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.27);
}

.background-linearGradient {
  background: linear-gradient(90deg, #f1eded 0%, #c2c6ef 100%);
}

// text color
.text-main {
  color: $main-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-third {
  color: $secondary-color;
}

.text-dark {
  color: $text-dark;
}
.text-secondary-dark {
  color: $text-secondary;
}
.text-light {
  color: $text-light;
}
.text-semi {
  color: $text-semi-light;
}
.text-lighter {
  color: $text-parag;
}
.footer-links-color {
  color: #4b5563 !important;
}
.border-radius-10 {
  border-radius: $border-radius;
}

