// color
$main-color: #37a6de;
$secondary-color: #c4c3c3;
$third-color: #f1f1f1;
$fourth-color: #e1e0e0;

// box model
$border-radius: 10px;

// font
$text-dark: #373636;
$text-secondary: #373636;
$text-light: #fff;
$text-semi-light: #2f2e2e;
$text-lighter: #777474;
$text-parag: #646363;
