<!-- <app-generic-table
      [data]="categories"
      [columns]="columns"
      [entityType]="'categories'"
      [title]="'Categories'"
      [editRoute]="'/dashboard/menu/categories/edit-category'"
      [viewRoute]="'/dashboard/menu/categories/view-category'"
      [rowsPerPage]="10"
      [ToggelStatus]="false">
    </app-generic-table> -->


    <app-generic-table
  [data]="categories"
  [columns]="columns"
  [entityType]="'categories'"
  [title]="'Categories'"
  [editRoute]="'/dashboard/menu/categories/edit-category'"
  [viewRoute]="'/dashboard/menu/categories/view-category'"
  [rowsPerPage]="10"
  [ToggelStatus]="true"> </app-generic-table>