@if (isLoading()) {
<app-loading-data-banner></app-loading-data-banner>
} @else {
<div class="card">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-semibold">Leads Control</h2>
  </div>

  <!-- Search Input -->
  <div class="mb-3 flex justify-end">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        #search
        class="mb-0"
        type="text"
        pInputText
        placeholder="Search leads..."
        (input)="onGlobalFilter(dt, $event)"
      />
    </span>
  </div>

  <p-table
    #dt
    [paginator]="true"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="getPagination()"
    [showCurrentPageReport]="true"
    [value]="filteredLeads"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="text-center" pSortableColumn="phone">
          Phone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th class="text-center">
          <p-dropdown
              #leadType
              class="mx-auto max-w-[120px]"
              styleClass="mx-auto"
              [options]="leadTypeData"
              optionLabel="label"
              optionValue="value"
              (onChange)="
                onFilterLeadTypeChange($event.value); leadType.showClear = true
              "
              placeholder="Lead Type"
              [showClear]="true"
              [autoZIndex]="true"
            ></p-dropdown>
        </th>
        <th class="text-center">
          <p-dropdown
            #DdCategory
            class="mx-auto max-w-[120px]"
            styleClass="mx-auto"
            [options]="categoryData"
            optionLabel="label"
            optionValue="value"
            (onChange)="
              onFilterCategoryChange($event.value); DdCategory.showClear = true
            "
            placeholder="Category"
            [showClear]="true"
            [autoZIndex]="true"
          ></p-dropdown>
        </th>
        <th class="text-center">
          <p-dropdown
            #DdNeedCall
            class="mx-auto max-w-[120px]"
            styleClass="mx-auto"
            [options]="needCallOptions"
            optionLabel="label"
            optionValue="value"
            (onChange)="
              onFilterNeedCallChange($event.value); DdNeedCall.showClear = true
            "
            placeholder="Need Call"
            [showClear]="true"
            [autoZIndex]="true"
            [style]="{ width: '120px' }"
          ></p-dropdown>
        </th>
        <th class="text-center">Category id</th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lead>
      <tr>
        <td class="text-center">{{ lead.name }}</td>
        <td class="text-center">{{ lead.phone }}</td>
        <td class="text-center">{{ lead.lead_type || "individual" }}</td>
        <td class="text-center">{{ lead.category_name }}</td>
        <td class="text-center">{{ lead.need_call }}</td>
        <td class="text-center">{{ lead.category_id }}</td>
        <td class="text-center">
          <div class="flex justify-center items-center">
            <button
              (click)="viewLead(lead.category_id, lead.id)"
              pButton
              icon="pi pi-search"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <div>
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
}

<p-toast></p-toast>
