<div class="bg-third footer fixed bottom-0 start-1 end-1" style="z-index: 500">
  <div class="container py-1 mx-auto">
    <div>
      <div class="h-100 d-flex justify-content-center align-items-center">
        <p class="text-gray-700 flex items-center justify-center space-x-2">
          <span class="align-middle fs-13">All Rights Reserved </span>
          <a href="https://digitalbondmena.com/en" target="_blank">
            <img class="w-[20px] mx-2" src="./assets/images/digital_bond.png" role="presentation" />
          </a>
          2025 <span style="font-size: 18px">&#169;</span>
        </p>
      </div>
    </div>
  </div>
</div>
