<ng-container>
  <!-- Root Label -->
  @if(root && item.visible !== false){
  <div class="layout-menuitem-root-text">
    {{ item.label }}
  </div>
  }

  <!-- Non-Router Link Items (with command support) -->
  @if((!item.routerLink || item.items) && item.visible !== false){
  <a [href]="item.url || null" (click)="itemClick($event)" [class.active-menuitem]="active && item.items"
    [class]="item.class || ''" [attr.target]="item.target" tabindex="0" pRipple>
    <i [class]="item.icon" class="layout-menuitem-icon"></i>
    <span class="layout-menuitem-text">{{ item.label}}</span>

    @if(item.items){
    <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
    }


  </a>
  }

  <!-- Router Link Items -->
  @if(item.routerLink && !item.items && item.visible !== false) {
  <a class="my-2" [class.active-route]="isActive(router)" [class]="item.class || ''" [routerLink]="item.routerLink"
    routerLinkActive="active-route" [routerLinkActiveOptions]="
         item.routerLinkActiveOptions || {
           paths: 'subset',
           queryParams: 'ignored',
           matrixParams: 'ignored',
           fragment: 'ignored'
         }
       " [fragment]="item.fragment" [queryParamsHandling]="item.queryParamsHandling"
    [preserveFragment]="item.preserveFragment" [skipLocationChange]="item.skipLocationChange"
    [replaceUrl]="item.replaceUrl" [state]="item.state" [queryParams]="item.queryParams" [attr.target]="item.target"
    tabindex="0" pRipple>
    <span class="relative">
      <i [class]="item.icon" class="layout-menuitem-icon mx-1"></i>
      @if(item.label === 'Admin Notifications' && hasNotify()) {
      <span class="absolute top-0 left-1.5 !w-2 h-2 bg-red-500 rounded-full"></span>
      }
    </span>
    <span class="layout-menuitem-text">{{ item.label }}</span>


  </a>
  }

  <!-- Submenu Items -->
  @if(item.items && item.visible !== false) {
  <ul [@children]="submenuAnimation">
    <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
      <app-dashboard-menu-items [item]="child" [index]="i" [parentKey]="key" [class]="">
      </app-dashboard-menu-items>
    </ng-template>
  </ul>
  }
</ng-container>