<div class="layout-topbar !h-[60px] flex-row-reverse">
  <div class="px-2 w-full flex items-center justify-between">
    <a class="justify-end me-auto " routerLink="/dashboard/home-statistics">
      <img src="./assets/logo/logo.png" class="ms-3 rounded-md w-[60px]" alt="logo" />
    </a>
    <div class="flex justify-center items-center !space-x-4">
      <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </div>
</div>