<!-- <app-generic-table
      [data]="partners"
      [columns]="columns"
      [entityType]="'partners'"
      [title]="'Partners'"
      [addRoute]="'/dashboard/menu/partners/add'"
      [editRoute]="'/dashboard/menu/partners/edit'"
      [viewRoute]="'/dashboard/menu/partners/view'"
      [rowsPerPage]="10"
      [categoryOptions]="categoryOptions">
    </app-generic-table> -->


    <app-generic-table
  [data]="partners"
  [columns]="columns"
  [entityType]="'partners'"
  [title]="'Partners'"
  [addRoute]="'/dashboard/menu/partners/add'"
  [editRoute]="'/dashboard/menu/partners/edit'"
  [viewRoute]="'/dashboard/menu/partners/view'"
  [rowsPerPage]="10"
  [ToggelStatus]="true"> </app-generic-table>